#root{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding:  10px 0px;
   
}
#carouselExampleCaptions>.carousel-item>img{
    height:437px !important;
}
@media (max-height:720px)and (max-width:420px) {
    #root{
        height:270px !important;
    }
    #carouselExampleCaptions{
        height:250px !important;
    }
    .carousel-item>img{
        height:250px !important;
    }
}
main{
    background: rgb(61, 61, 61);
}
@media (max-width:1051px) {
    section>img{
        width:38em !important;
    }
}
@media (max-width:800px) {
    #carouselExampleCaptions{
        width: 98% !important;
    }
    article{
        width: 98% !important;
        padding: 15px !important;
    }
    section>img{
            width: 98% !important;
    }
}
section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 1em;
    padding: 20px 5px;
    background: rgb(255, 255, 255);
}
section>img{
    border-radius: 10px;
}
article{
    width: 38em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border: 1px solid grey;
    padding: 10px;
    gap: 0.3em;
    background: white;
    border-radius: 10px;
}
article>p{
    font-size: 14px;
    font-family: 'Kanit';

}
